<% layout('boilerplate') -%>
<div class="container">
  <div class="row mb-3">
    <div class="col-6 offset-1">
      <div class="card" style="width: 100%">
        <img
          class="card-img-top"
          src="<%= campground.img %> "
          alt="Card image cap"
        />
        <div class="card-body">
          <h1 class="card-title"><%= campground.title %></h1>
          <h5 class="text-muted"><%= campground.location %></h5>
          <p class="card-text"><%= campground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            &#8377;<b><%= campground.price %></b>/night
          </li>
        </ul>
        <!-- FIXME: fix footer of viewcampgrounds -->
        <div class="card-footer d-flex">
          <a href="/campgrounds/" class="card-link">All Campgrounds</a>
          <a href="/campgrounds/<%= campground._id%>/update" class="card-link"
            >Update Campground</a
          >
          <div class="ml-auto">
            <form
              action="/campgrounds/<%= campground._id%>?_method=DELETE"
              method="post"
            >
              <button class="btn btn-outline-danger">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <h1>Leave a Review</h1>
      <form action="/campgrounds/<%= campground._id %>/addreview" method="post">
        <div class="form-group">
          <textarea
            class="form-control"
            name="review[text]"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group">
          <input
            type="range"
            min="0"
            max="5"
            step="1"
            class="form-range"
            name="review[stars]"
          />
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
      <% for(let i = 0; i<campground.reviews.length; i++){%>
        <div>
          <h1>Review<%= i %>: </h1>
          <p><%= campground.reviews[i].text %> </p>
          <p><%= campground.reviews[i].stars%></p>
        </div> 
      <% } %> 
    </div>
  </div>
</div>
